.contacts {
    background-color: var(--white);
    margin: 0;
}

#contacts-title {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--font-gold);
    margin: 0;
    padding-bottom: 26px;
}

.contacts .custom-line {
    margin-bottom: 75px;
}

.contacts h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black);
    margin: 0;
}

h4 span:first-child {
    display: block;
    margin-bottom: -20px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 54px;
}


.contacts p, 
.contacts a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    height: 26px;
    margin: 0;
    color: var(--black);
}

.address-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts a:hover{
    color: var(--font-gold);
}

#map{
    line-height: 0;
}

#map img {
    width: 960;
    height: 620;
    top: 193px;
    left: 480px;
    opacity: 1;
}

.contacts-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 112px;
}