.tickets {
    background-color: var(--white);
    margin: 0;
    position: relative;
    margin-bottom: 400px;
}

#tickets-title {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--font-gold);
    margin: 0;
    line-height: 90px;
    padding-bottom: 25px;
}

.tickets .custom-line {
    margin-bottom: 75px;
}

.tickets-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: start;
}

.tickets-image img {
    width: 720px;
    height: 550px;
    display: block;
}

.tickets-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.ticket-options {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.ticket-amount {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tickets h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black);
    margin: 0;
    padding-bottom: 25px;
}

.ticket-amount h4{
    padding-bottom: 32px;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: var(--black);
    line-height: 100%;
    flex-direction: row;
    column-gap: 21px;
}

.custom-radio input {
    display: none;
}

.radio-mark {
    width: 17px;
    height: 17px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.custom-radio input:checked+.radio-mark::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.amount-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 54px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0;
    flex-direction: column;
    gap: 15px;
}


.amount-group input {
    display: none;
}

.amount-group label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
}

.total h4 {
    letter-spacing: 1.65px;

}

.buy-btn {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 2px;
    vertical-align: middle;
    align-items: center;
    width: 175px;
    height: 50px;
    border-radius: 2px;
    margin-top: 30px;
}

.buy-btn:hover {
  background-color: var(--font-gold);
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3.5px solid rgba(0, 0, 0, 1);
    width: 150px;
    height: 50px;
    padding: 5px 10px;
    gap: 10px;
}

.counter button {
    background: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.counter .count {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 0;
}

#img-parallax {

    content: "";
    position: absolute;
    background-image: url("../assets/images/parallax1.jpg");
    background-position: center 71%;
    bottom: 100;
    left: 0;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
