.video {
  background-color: var(--white);
}
.video .section-content{
  padding-bottom: 62px;
}

.video-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-bottom: 75px;
}

#video-title {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--font-gold);
  margin: 0;
  line-height: 90px;
}

.video-text {
  margin-top: 10px;
}
.video-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 38.5px;
  vertical-align: middle;
  color: var(--black);
  display: inline;
}

.video iframe {
  border: none;
  aspect-ratio: 16 / 9;
}

.video-player-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video-player-main {
  position: relative;
}

.video-player-main #play-big-button {
  position: absolute;
  width: 220px;
  height: 220px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,calc(-50% - 42.5px));
  background-image: url('../assets/images/svg/play_big.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: transform 0.5s ease;
}


.video-player {
    position: relative;
    width: 100%;
    object-fit: cover;
    border: none;
    aspect-ratio: 17.8/9;
  /* margin-bottom: 40px; */
}

.video-thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px;
  margin-top: 40px;
}

.video-carousel-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.quick-access-panel {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  color: var(--dark-grey);
  transition: color 0.3s;
}

.navigation:hover {
  color: var(--dark-grey);
}

.double-angle {
  width: 10px;
  color: var(--light-grey);
}

.quick-access-panel carousel-list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.quick-access-panel span {
  color: var(--light-grey);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 4px;
  width: 12px;
  font-size: 28px;
}

.quick-access-panel span:hover {
  color: var(--dark-red);
  transform: scale(1.2);
}

.quick-access-panel span.active {
  color: var(--dark-grey);
  background-color: transparent;
  border-radius: 4px;
}

.quick-access-panel span.active:hover{
  color: var(--dark-red);
  transform: scale(1.2);
}


.video-controls {
    height: 86px;
    background-color: #000000;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
}

#play-button {
    width: 23px;
    height: 31px;
    margin-left: 5px;
    background-image: url('../assets/images/svg/play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: filter 0.3s ease;
}

#play-progress {
    background: linear-gradient(to right, #710707 0%, #710707 54%, #C4C4C4 54%, #C4C4C4 100%);
    height: 8px;
    width: 930px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#sound-button {
    width: 38px;
    height: 31px;
    background-image: url('../assets/images/svg/volume.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: filter 0.3s ease;
}

#sound-progress {
    background: linear-gradient(to right, #710707 0%, #710707 43%, #C4C4C4 43%, #C4C4C4 100%);
    height: 8px;
    width: 155px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#full-scrin-button {
    width: 35px;
    height: 35px;
    margin-right: 7px;
    background-image: url('../assets/images/svg/full_scrin.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: filter 0.3s ease;
}