.visiting {
    background-color: var(--white);
    margin: 0;
}

.section-title {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--font-gold);
    margin-top: 0;
    margin-bottom: 25px;
}

.custom-line {
    border: none;
    width: 1.440px;
    height: 3px;
    background-color: var(--dark-red);
    width: 100%;
    margin: 0 0 75px;
}

.custom-line-bottom {
    border: none;
    width: 1.440px;
    height: 3px;
    background-color: var(--dark-red);
    margin: 0;
}

.tour-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 75px;
    column-gap: 60px;
    margin: 0 auto;
}

.tour-card img {
    width: 440px;
    height: auto;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


.tour-card h3 {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 10px;
    margin-top: 25px;
    white-space: nowrap;
    overflow: hidden;
}

.tour-title-link .custom-line-bottom {
    content: '';
    position: relative;
    bottom: -4px;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: var(--dark-red);
    transition: width 0.3s ease;
    display: block;
}

.tour-title-link:hover .custom-line-bottom {
    width: 100%;
}

.visiting p {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black);
    margin-top: 14px;
    margin-bottom: 0;
}

#tour-subtitle {
    font-size: 18px;
}