.welcome {
  background-color: var(--black);
  height: 810px;
  position: relative;
  overflow: hidden;
}

.welcome .section-content {
  padding: 0;
  height: 750px;
}

.welcome-text {
  display: inline-block;
  max-width: 50%;
  font-family: "Roboto";
  font-size: 32px;
}

/* .welcome-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
} */

.welcome-text p {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: var(--white);
}

#btn-discover {
  display: inline-block;
  background-color: var(--dark-red);
  color: var(--white);
  text-decoration: none;
  padding: 27.5px 64px;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  margin-left: 3px;
}

.welcome-image {
  display: inline-block;
  position: absolute;
  right: 0;
}

.welcome-image img {
  max-width: 1500px;
  height: auto;
  border-radius: 8px;
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 50%);
  mask-image: linear-gradient(to right, transparent 0%, black 50%);
}

.welcome-text h2 {
  font-family: "Forum", "san-serif";
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 150px;
  margin-bottom: 25px;
}

.welcome-text p {
  font-family: "Roboto", "san-serif";
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2px;
  color: var(--white);
  margin-bottom: 75px;
}

#btn-discover:hover {
  background-color: var(--font-gold);
}

.welcome .carousel-control-panel {
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* bottom: -60px; */
  gap: 56px;
  right: 0;
  width: 600px;
  height: 120px;
  background-color: var(--black);
  padding: 40px 71px;
  color: var(--white);
  font-size: 22px;
  margin-top: 152px;
}

/* .welcome .carousel-control-panel .count {
  margin-top: 10px;
} */

.welcome .carousel-control-panel .quick-access .quick-access-list {
  display: flex;
  gap: 19px;
  font-size: 35px;
  margin-bottom: 8px;
}

.welcome .carousel-control-panel .quick-access .quick-access-list span.active {
  color: var(--font-gold);
}

.welcome .carousel-control-panel .naviration {
  display: flex;
  gap: 20px;
  font-size: 31px;
}