.welcome {
  background-color: var(--black);
  height: 750px;
  overflow: hidden;
  position: relative;
}

.welcome .section-content {
  padding: 0;
}

.welcome-text {
  display: inline-block;
  max-width: 50%;
  font-family: "Roboto";
  font-size: 32px;
}

.welcome-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.welcome-text p {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: var(--white);
}

#btn-discover {
  display: inline-block;
  background-color: var(--dark-red);
  color: var(--white);
  text-decoration: none;
  padding: 26.5px 64px;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
}

.welcome-image {
    display: inline-block;
    position: absolute;
    right: 0;
}

.welcome-image img {
  max-width: 1500px;
  height: auto;
  border-radius: 8px;
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 50%);
  mask-image: linear-gradient(to right, transparent 0%, black 50%);
}

.welcome-text h1{
font-family: "Forum", "san-serif";
font-weight: 400;
font-size: 80px;
line-height: 90px;
letter-spacing: 5px;
text-transform: uppercase;
color: var(--white);
}

.welcome-text p{
font-family: "Roboto", "san-serif";
font-weight: 300;
font-size: 28px;
line-height: 100%;
letter-spacing: 2px;
color:var(--white);
}

.welcome a{
font-family: "Roboto", "san-serif";
font-weight: 300;
font-size: 22px;
line-height: 100%;
letter-spacing: 2px;
text-align: center;
vertical-align: middle;
color: var(--white);
}

a#btn-discover:hover {
  background-color: var(--font-gold);
}
